.custom-range-slider__input {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.custom-range-slider__input input {
    @include spacing(padding, xs);

    margin: 0;
    padding-right: 60px !important;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;

    outline: none;
    border-radius: 3px;
    border: none !important;
    background: var(--bg-light);

    &::-webkit-slider-thumb {
        //visibility: hidden;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        outline: none;
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 3px;
        background: var(--bg-lighter);
        transition: background $transition-fast;

        @include bp(m) {
            &:hover {
                background: var(--primary);
            }
        }
    }

    &::-moz-range-thumb {
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 3px;
        background: var(--primary);
    }
}

.custom-range-slider__label {
    margin-bottom: 10px;
}

.custom-range-slider__value {
    @include text(p3);

    display: flex;
    align-items: center;
    justify-items: center;

    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    color: var(--primary);
    user-select: none;
    padding-left: 8px;
    border-radius: 3px;
    background: var(--bg-lighter);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 20% 100%, 0 50%);

    span {
        width: 100%;
        text-align: center;
    }
}
