.stripes-overview-header {
    @include spacing(padding, xs, left right);
    @include spacing(margin, s, bottom);
    @include text(p1);

    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    min-height: 80px;

    @include bp(m) {
        flex-flow: row nowrap;
    }
}

.stripes-overview-header__icon-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.stripes-overview-header__icon-group-item {
    @include spacing(margin, s, left right);
    @include spacing(padding, nxs);


    position: relative;
    height: 100%;
    cursor: pointer;

    @include bp(m) {
        &:hover svg {
            color: var(--primary);
        }
    }

    svg {
        height: 100%;
        color: rgba(var(--font), 0.8);
        transition: color $transition-fast;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;

        opacity: 0.5;
        background: var(--white);
        transform: scale(0);
        transition: transform $transition-fast;
    }
}

.stripes-overview-header__icon-group-item--active {
    svg {
        color: var(--primary);
    }

    &:after {
        transform: scale(1);
    }
}

.stripes-overview-header__icon-group-item--inActive {
    pointer-events: none;

    svg {
        opacity: 0.25;
    }
}

.stripes-overview-header__info {
    @include spacing(padding, xs, left right);
    @include text(p2);

    width: 100%;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    margin-left: auto;
    flex: 1;

    user-select: none;
    color: var(--font);

    span {
        flex: 1;
        text-align: center;

        @include bp(m) {
            text-align: left;
        }
    }

    @include bp(m) {
        display: flex;
        justify-content: flex-start;
    }
}

.stripes-overview-header__info--mobile {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    margin: auto;

    div {
        flex: 1;

        svg {
            min-width: 25px;
        }
    }

    @include bp(m) {
        display: none;
    }
}

.stripes-overview-header__divider {
    @include spacing(margin, s, top);
    @include spacing(margin, xs, bottom);

    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;

    height: 2px;
    opacity: 0.2;
    background: var(--primary);
}
