.row {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 20px;

    @include bp(m) {
        flex-flow: row wrap;
    }
}

.row--align-end {
    width: 100%;
    text-align: right;
    justify-content: flex-end;
}

.row--mobile {
    flex-flow: row wrap;

    .column--margin-right {
        margin-right: 20px;
    }
}

.row--scrollable {
    max-height: 400px;
    overflow: auto;
}

.row--no-margin {
    margin: 0;
}

.row--margin-top {
    margin-top: 25px;

    @include bp(m) {
        margin-top: 35px;
    }
}

.row--margin-top-small {
    margin-top: 10px;

    @include bp(m) {
        margin-top: 20px;
    }
}

.row--margin-bottom {
    margin-bottom: 40px;
}

.column {
    flex: 1;
}

.column--margin-left {
    margin-left: 20px;
}

.column--margin-right {
    @include bp(m) {
        margin-right: 20px;
    }
}

.column--margin-bottom {
    margin-bottom: 14px;

    @include bp(m) {
        margin-bottom: 0;
    }
}
